body {
    height: auto;
    background: var(--bg);
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: darkred;
    --black: rgb(53, 52, 52);
    --bg: #272727;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 10px;
    background: var(--bg);
    border-bottom: var(--border);
    z-index: 1000;
}

header nav ul li {
    position: relative;
    float: left;
}
header nav ul li a {
    padding: 15px;
    color: white;
    font-weight: 200;
    font-size: 1.3rem;
    margin-left: 45px;
    transition: color 0.3s linear;
    border-bottom: 0.1rem solid var(--main-color);
}
header nav ul li a:hover {
    color: goldenrod;
}
nav ul li ul {
    position: absolute;
    left: 40px;
    width: 180px;
    color: white;
    background-color: darkred;
    display: none;
}
nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
}
nav ul li ul li:hover {
    background-color: rgb(49, 3, 3);
    color: darkred;
}
nav ul li:hover > ul { display: block; }

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    margin-top: 10rem;
}
.heading span {
    color: var(--main-color);
    text-shadow: -1px -1px 0 rgb(240, 183, 27), 1px -1px 0 rgb(240, 183, 27), -1px 1px 0 rgb(240, 183, 27), 1px 1px 0 rgb(240, 183, 27);
    text-transform: uppercase;
}
.home_2 {
    height: 25vh;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background: url(https://phonoteka.org/uploads/posts/2022-02/1643931089_6-phonoteka-org-p-oboi-na-rabochii-stol-serii-fon-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    text-align: center;
    justify-content: center;
    margin-top: 8rem;
}
.basic {
    background: var(--bg);
}
.basic .content {
    display: flex;
    background: var(--black);
    margin-left: 3rem;
    margin-right: 3rem;
}
.media {
    display: table-column;
    margin-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
}
.media iframe {
    margin-top: 3rem;
    margin-left: 5rem;
}
.text {
    display: table-column;
    margin-left: 3rem;
    margin-top: 3rem;
    margin-right: 3rem;
}
.text p {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 3rem;
}
.footer {
    background: var(--bg);
    text-align: center;
}
.footer .share a{
    margin-right: 2rem;
}
.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin: 0.3rem;
}
.footer .links {
    margin-bottom: 1.5rem;
}
.footer .links a {
    margin-right: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: var(--border);
    padding: 0.5rem 1rem;
    transition: color 0.3s linear;
}
.footer .links a:hover {
    color: goldenrod;
    background-color: rgb(71, 1, 1);
}
.footer .credit {
    font-size: 1rem;
    color: #fff;
}
.footer .credit span {
    color: #cfae81;
}